<!--The content below is only a placeholder and can be replaced.-->
<app-nav-bar></app-nav-bar>
<div class="app-container">
  <div style="text-align:center">
    <h1>
      {{title}}
    </h1>
  </div>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
          Selection
        </a>
      </li>
      <li role="presentation">
        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
          Profile
        </a>
      </li>
      <li role="presentation">
        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
          Messages
        </a>
      </li>
      <li role="presentation">
        <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
          Settings
        </a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <app-first-form></app-first-form>
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
        <app-second-form></app-second-form>
      </div>
      <div role="tabpanel" class="tab-pane" id="messages">...</div>
      <div role="tabpanel" class="tab-pane" id="settings">...</div>
    </div>
  </div>
</div>
