<div class="nav-container">
  <div class="row">
    <div class="nav-title">
      <p class="nav-title__text">Form Name</p>
    </div>
    <div class="nav-options">
      <ul class="nav-options__list">
        <li class="nav-options__element">
          <a href="#" class="nav-options__link">
            Back to Top
          </a>
        </li>
        <li class="nav-options__element">
          <a href="#" class="nav-options__link">
            Mid Section
          </a>
        </li>
        <li class="nav-options__element">
          <a href="#" class="nav-options__link">
            Other Section
          </a>
        </li>
        <li class="nav-options__element">
          <a href="#" class="nav-options__link">
            Review/Submit
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
